
<div class="container" style="margin:10px 10px 10px 0px">
    <div class="page-header position-center">
        <h1>
            MANTENIMIENTO VEHICULO
        </h1>
    </div>

    <div>
        <fieldset class="groupbox">
            <div class="row">
                <div class="col-sm-6">
                    <label for="txt_transportista">Transportista</label>
                    <input type="text" class="form-control input-sm margin-bottom" placeholder="Ingrese Transportista" />
                </div>

                <div class="col-sm-6">
                    <label for="txt_transportista">Descripcion</label>
                    <input type="text" [(ngModel)]="filtro_descripcion" class="form-control input-sm margin-bottom" placeholder="Ingrese Descripcion" />
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12" align="right">
                    <button (click)="Buscar_Vehiculo()" id="btn_buscar_vehiculo" class="btn btn-mini btn-primary" style="width: 120px;">
                        <i class="fa fa-search"></i>Buscar
                    </button>
                    <button (click)="Limpiar_Filtros();" class="btn btn-mini btn-info" style="width: 120px;">
                        <i class="fa fa-retweet"></i>Limpiar
                    </button>
                    <button (click)="AbrirModalRegistro('#dlgAgregarVehiculo');" type="button" data-toggle="modal" id="btn_agregar_vehiculo" class="btn btn-mini btn-warning" style="width: 120px;">
                        <i class="fa fa-plus-circle "></i>Agregar
                    </button>
                </div>

            </div>
        </fieldset>
    </div>

            <fieldset class="groupbox" style="margin: 0px;">
                <div>
                    <table id="dt_vehiculo"
                           class="table table-striped table-hover table-condensed"
                           data-toggle="table"
                           data-pagination="true"
                           data-page-size="5"
                           data-search="false"></table>
                </div>
            </fieldset>
      

        <!-- Modal 2 click en el registro -->
    <!--<div class="modal fade" data-backdrop="static" role="dialog" aria-hidden="true" tabindex="-1" id="dlgEditarEliminar">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Seleccione una de estas opciones:</h4>
                    <div class="modal-body" style="text-align: center">
                        <button type="button" id="btn_modal_editar" (click)="Editar_Registro('#dlgAgregarVehiculo','#dlgEditarEliminar')" class="btn btn-success btn-outline fa fa-edit" style="width:100px;height:34px">
                            Editar
                        </button>
                        <button type="button" id="btn_modal_eliminar" (click)="AbrirModalEliminar('#dlgConfirmEliminar','#dlgEditarEliminar')" class="btn btn-danger btn-outline fa fa-remove" style="width:100px;height:34px">
                            Eliminar
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="dlgConfirmEliminar" data-backdrop="static" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h5 class="modal-title">¿Desea realmente eliminar el registro?</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-danger" (click)="Eliminar_Registro('#dlgConfirmEliminar')">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
    -->


    
</div>
